rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ideas/{ideaId} {
      allow read, write: if true;  // For now, allowing all access. We can add authentication later.
    }
    match /tags/{tagId} {
      allow read, write: if true;  // Allow access to tags collection
    }
    match /ideaTags/{ideaTagId} {
      allow read, write: if true;  // Allow access to relationships between ideas and tags
    }
    match /notes/{noteId} {
      allow read, write: if true;  // Allow access to notes collection
    }
    match /brief/{briefId} {
      allow read, write: if true;  // Allow access to brief collection
    }
  }
} 